Temp/
Library/
obj/
Assembly-CSharp.csproj
.vs/Grower/v15/Server/sqlite3/storage.ide-wal
.vs/Grower/v15/Server/sqlite3/storage.ide
.vs/
Projects.sln
ProjectSettings/ProjectVersion.txt
Assets/Resources/Models/test.txt.meta
Assets/Resources/Models.meta
Grower_regular.sln
